.main {
    width: 100%;
    margin: 0 auto;
}

.main-row-property {
    width: 100%;
    margin: 0 auto;
    background-color: #fff5f8;
}

.col-main-property {
    margin: 0 auto;
}


.col-main {
    padding: 30px 5px;
    border-bottom: 1px solid #ffcfdf;
}

.col-main h4 {
    font-size: 36px;
    line-height: 24px;
    color: #e12457;
    font-family: proxima_novablack, sans-serif;
    margin: 15px;
}

.col-main p {
    font-size: 13px;
    line-height: 18px;
    color: #4d4d4d;
    font-family: proxima_novalight, sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:575px) {
    .col-main {
        border-right: 1px solid #ffcfdf;
    }

    .col-main:nth-child(even) {
        border-right: none;
    }
}

@media screen and (min-width:750px) {
    .col-main {
        border-right: 1px solid #ffcfdf;
    }

    .col-main:nth-child(even) {
        border-right: 1px solid #ffcfdf;
    }

    .col-main:nth-child(3n+0) {
        border-right: none;
    }
}


@media screen and (min-width: 1200px) {
    .col-main-property {
        width: 90%;
    }

    .col-main {
        border-right: 1px solid #ffcfdf;
        border-bottom: none;
        padding: 50px 40px;
    }

    .col-main:nth-child(3n+0) {
        border-right: 1px solid #ffcfdf;
    }

    .col-main:last-child {
        border-right: none;
    }

}

/* Main info */



/* Remember */

.property-remember, .container-idea {
    margin: 50px 0;
    padding: 0 15px;
    text-align: start;
}

.container-idea {
    margin: 0 auto;
}

.content-idea span {
    color: #e12457;
}

.main-top h2 {
    margin: 0 0 0 0;
    color: #e12457;
    font-size: 60px;
    font-family: proxima_novabold, sans-serif;
    font-weight: 700;
}

.main-top h3 {
    margin: 40px 0 30px 0;
    color: #000000;
    font-size: 26px;
    line-height: 24px;
    font-family: proxima_novabold, sans-serif;
    font-weight: 700;
}

.main-top p {  /* !!! */
    margin: 20px 0 0 0;
    color: #4d4d4d;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    font-family: proxima_novabold, sans-serif;
}

/* Remember */



/* Idea */

.figure-idea {
    box-shadow: rgb(255, 255, 255) 40px -40px 0 -10px, rgb(	225	36	87) 40px -40px;
    width: 70%;
    max-width: 250px;
    margin: 50px 0 auto;
}

.figure-idea .idea-img {
    max-height: 250px;
    object-fit: cover;
}

.top-idea {
    display: flex;
    flex-direction: column;
}

.top-idea figure {
    align-self: center;
}

.figure-idea-sm {
    display: block;
}

.figure-idea-md {
    display: none;
}

.figure-idea-lg {
    display: none;
}

@media screen and (min-width: 750px) {
    .figure-idea-sm {
        display: none;
    }

    .figure-idea-md {
        display: block;
    }

    .figure-idea-lg {
        display: none;
    }

    .figure-idea {
        width: 100%;
        max-width: 100%;
    }

   .figure-idea .idea-img {
        max-height: 300px;
    }

    .container-idea-md2 {
        margin: 0 50px 0 40px;
    }

    .container-idea-md {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .top-idea {
        width: 100%;
    }
}


@media screen and (min-width: 1200px) {
    .figure-idea-sm {
        display: none;
    }

    .figure-idea-md {
        display: none;
    }

    .figure-idea-lg {
        display: block;
        margin: 0 auto;
    }

    .figure-idea {
        width: 100%;
        max-width: 250px;
    }

    .figure-idea .idea-img {
        height: auto;
        width: 100%;
    }


    .content-idea {
        display: flex;
        align-items: end;
    }

    .ct-idea {
        margin-right: 50px;
    }

    .container-remember, .container-idea {
        width: 85%;
        margin: 0 auto;
    }

}

/* Idea */

/* Ready */

.content-ready-md {
    display: none;
}

.container-ready {
    width: 100%;
    background-size: cover;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-image: url("../../img/rocket_bg.jpg");
    position: relative;
    margin-top: 250px;
    color: white;
    padding: 60px 0;
}

.container-ready p {
    color: white;
}

.property-ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.rocket-ready {
    height: auto;
    width: 90%;
    position: absolute;
    top: -20%;
}

.rocket-ready img {
    max-width: 400px;
}

.content-ready {
    margin-top: 50%;
    text-align: start;
}

.top-ready h3 {
    color: white;
}

.bot-ready #dol {
    font-size: 60px;
    margin: 50px 0;
    font-family: proxima_novalight, sans-serif;
}

.bot-ready div p {
    font-size: 25px;
    padding: 0 50px 10px 0;
    border-bottom: 1px solid #ffffff;
    width: 75%;
}

.container-ready .btn {
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 0;
    margin: 20px 0 0 0;
    color: #e12457;
    box-shadow: 10px 10px 10px 0 rgba(255, 255, 255, 0.2);
    font-family: proxima_novabold, sans-serif;
}

.btn-md {
    display: none;
}

.btn-sm {
    width: 100%;
}


@media screen and (min-width: 750px) {
    .container-ready {
        width: 95%;
        margin: 0 auto;
        color: white;
        padding:0 0 60px 0;
    }

    .property-ready {
        width: 100%;
        margin: 200px 0 0 0;
        align-items: normal;
    }

    .rocket-ready-sm {
        display: none;
    }

    .btn-md {
        display: block;
        width: 200px;
        height: 55px;
        font-size: 20px;
    }

    .bot-ready #dol {
        margin: 0;
        font-size: 60px;
    }

    .rocket-ready-md {
        height: auto;
        width: 90%;
        position: absolute;
        top: -10%;
        left: 40px;
        text-align: start;
    }

    .rocket-ready-md img {
        max-width: 300px;
    }

    .content-ready {
        margin-top: 0;
        text-align: end;
    }

    .top-ready-sm {
        display: none;
    }

    .top-ready-md {
        width: 45%;
        text-align: start;
        padding: 40px 40px 0 20px;
    }

    .content-ready-md {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
        padding: 0 0;
    }

    .bot-ready {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        margin-top: 120px;
    }

    .bot-ready div p {
        width: 100%;
        font-size: 20px;
    }

    .btn-md {
        display: block;
        width: 200px;
        height: 55px;
        font-size: 20px;
    }

    .btn-sm {
        display: none;
    }

}


@media screen and (min-width: 1200px) {

    .container-ready {
        width: 85%;
    }

    .content-ready-md{
        display: none;
    }

    .top-ready-sm {
        display: block;
        text-align: start;
        padding-right: 5%;
    }

    .rocket-ready-sm {
        display: block;
        text-align: left;
    }

    .content-ready {
        width: 60%;
        margin-right: 5%;
        height: 270px;
        padding: 30px 0 0 0;
    }

    .property-ready {
        display: flex;
        align-items: end;
    }

    .rocket-ready-sm {
        top: -10%;
        left: 2%;
    }

    .rocket-ready-sm img {
        max-width: 23rem;
    }

    .bot-ready {
        margin-top: 20px;
        justify-content: space-between;
    }

    .bot-ready #dol {
        font-size: 50px;
    }

    .container-ready .btn {
        margin: 0;
    }

    .bot-ready div p {
        margin: 0;
    }

}









